body{
   font-family: 'Montserrat', sans-serif;
   color:#666666;
}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
    a, button{
      transition: all 0.3s ease 0s;
      text-decoration:none;
  }
  h1, h2, h3, h4, h5, h6 {
      margin:0px;
  }
.container {
    width: 1360px;
}

  /*==============NAVIGATION==================*/
  .current-book a {
    color: #666;
}

.navigation{
    background: transparent;
    border-bottom: 1px solid #e8e8e8;   
}  
.navigation .navbar.navbar-inverse {
    background: transparent;
    border: none;
    height: auto;
    min-height: 100px;

}
.navigation li a {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;

}
.find-boat {
    background: #33beac;
    border: 1px solid #33beac;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 20px;
    border-radius: 4px;
    font-weight: 300;
}
.offer-boat {
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 20px;
    border-radius: 4px;
    font-weight: 300;
}
.navigation .dropdown button {
    background: #fff;
    border: none;
}
.navigation #myNavbar ul.navbar-nav.navbar-right {
    padding-top: 30px;
}
.sign a {
    padding: 6px 15px !important;
}

.dropdown.sig {
    padding-top: 6px;
}
.dropdown.sig.open .dropdown-menu {
    margin-top: 10px;
}
.dropdown.sig.open .dropdown-menu li a {
    font-size: 14px;
}
#myNavbar .nav.navbar-nav.navbar-right li a {
    padding-top: 0px !important;
}
.navigation #myNavbar ul.navbar-nav.navbar-right .sign {
    padding-top: 6px;
}

/*===============end navigation==================*/
/*==================banner section===============*/
.add1.text-colr {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search{
   border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}
.banner-home{
    background:url('../images/bannerhome.png');
    width: 100%;
    border-color: rgb(234, 233, 233);
    border-top-color: rgb(234, 233, 233);
    border-bottom-color: rgb(234, 233, 233);
    border-bottom: 0px solid rgb(234, 233, 233);
    border-top: 0px solid rgb(234, 233, 233);
    padding-left: 0px;
    height: 73vh;
    background-position: right;
}
.shared-trip h1 {
    color: #fff;
    font-size: 56px;     
    font-weight: 600;
    margin-bottom: 25px;
}

.shared-trip ul {
    padding: 0px;
    list-style: none;
}
.shared-trip ul li {
    float: left;
    width: 18%;
}
.shared-trip ul li input, .shared-trip ul li select {
    height: 50px;
    padding: 0px 3px 0px 30px;
    border: none;
    border-right: 1px solid #bdbdbd;
    width: 100%;
    font-weight: 300;
}
.shared-trip ul li select{
color: #A0A0A0; 
}
.search {
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    padding: 0px 20px;
    font-size: 20px;
    height: 50px;
    text-align: center;
}
.shared-trip .add1 {
    background-image: url('../images/add-icon1.png');
    background-repeat: no-repeat;
    background-position: 10px 15px;
}
.shared-trip .add2 {
    background-image: url('../images/add-icon1.png');
    background-repeat: no-repeat;
    background-position: 10px 15px;
}
.shared-trip .add3 {
    background-image: url('../images/add-icon2.png');
    background-repeat: no-repeat;
    background-position: 10px 14px;
}
.shared-trip .add4 {
    background-image: url('../images/add-icon3.png');
    background-repeat: no-repeat;
    background-position: 10px 15px;
}
.shared-trip .add5 {
    background-image: url('../images/add-icon4.png');
    background-repeat: no-repeat;
    background-position: 10px 17px;
}
.searchbtn {
    width: auto !important;
}
.banner-home .shared-trip {
    margin-top: 22%;
    position: relative;
}

.baner-overlay {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 73vh;
    background: rgba(0, 0, 0, 0.54);
}

/*==================end banner section===============*/
/*================too many boats==============*/
.strong-title {
    font-weight: 600;
    font-size: 32px;
    margin: 0px;
}
.text-green {
    color: #2ebdaa !important;
}
.offer-icons {
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 40px;
}
.offer-icons:hover {
    background: transparent;
    border: 1px solid #ef5329;
    color: #ef5329;
}
.offer-icons .blck1 {
    display: none;
}
.offer-icons:hover .blck1 {
    display: block;
}
.offer-icons:hover .blck2 {
    display: none;
}
.offer-icons img {
    padding-right: 12px;
    float: left;
}
.five-boat-box ul {
    list-style: none;
    padding: 0px;
}
.five-boat-box ul li {
    float: left;
    box-shadow: 1px -2px 15px #dddddd;
    width: 130px;
    text-align: center;
    height: 120px;
    margin: 0px 9px;
    border-radius: 4px;
    padding: 8px;
}

.five-boat-box ul li .hi {
    display: none;
}
.five-boat-box ul li:hover .hi {
    display: block;
}
.five-boat-box ul li:hover a{
    color: #ef5329;
}
.five-boat-box ul li:hover .sh {
    display: none;
}
.five-boat-box ul li .hi {
    display: none;
}
.five-boat-box ul li img {
    display: block;
    margin: 0px auto;
}
.img-heig {
    height: 60px;
}
.smlimg .img-heig {
    padding-top: 16px;
}
.five-boat-box ul li a {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}
.noppading {
    padding: 0px;
}
.boatimag {
    position: absolute;
    right: 0px;
    margin-top: 5%;
}
.many-boast-section {
    padding: 70px 0px;
    padding-bottom: 100px;
}
.five-boat-box {
    margin-top: 7%;
}

/*================end too many boats==============*/
/*============thousand boats=================*/
.thousand-boats {
    background: #f8f8fc;
    padding: 70px 0px;
}
.thousand-boats h1 {
    text-align: center;
    font-weight: 600;
    line-height: 48px;
}
.thousand-boats h4 {
    text-align: center;
    font-weight: 300;
    color: #EF5329;
    margin-top: 10px;
}
.box-thousand {
    margin-top: 5%;
}
.box-thousand .content-in {
    background: #fff;
    border-radius: 4px;
    padding: 17px 15px;
    box-shadow: 1px -2px 15px #dddddd;
}
.box-thousand .content-in .left-con {
    float: left;
    width: 50%;
    height: 45px;
}
.box-thousand .content-in .right-con {
    width: 50%;
    float: right;
    text-align: right;
}
.box-thousand .content-in p {
    margin: 0px;
    color: #777777;
    font-weight: 300;
}
.box-thousand .content-in .right-con p {
    font-size: 12px;
    color: #2EBDAA;
}
.box-thousand .content-in h2 {
    font-weight: 600;
    font-size: 25px;
}


/*============end thousand boats=================*/
/*=======tabs============================*/
.responsive-tabs-container .responsive-tabs {
    width: 50%;
    float: right;
    border-bottom: none;
}
.responsive-tabs-container .tab-content {
    width: 50%;
    float: left;
}
.tabs-respon .responsive-tabs-container .responsive-tabs li {
    box-shadow: 1px -2px 15px #dddddd;
    border-radius: 4px;
    margin: 14px 0px;
}
.tabs-respon .responsive-tabs-container .responsive-tabs li a {
    color: #000;
    border: none;
    margin-right: 0px;
}
.tabs-respon .responsive-tabs-container .responsive-tabs li a .img-tab {
    float: left;
    width: 12%;
}
.tabs-respon .responsive-tabs-container .responsive-tabs .active {
   border-right: 4px solid #2EBDAA;
}
.inutstab .text-head-tab p {
    font-size: 15px;
    font-weight: 300;
    color: #777;
    padding-top: 10px;
    margin: 0px;
}
.tabs-respon .responsive-tabs-container .responsive-tabs li a .text-head-tab {
    width: 88%;
    float: right;
}
.tabs-respon .responsive-tabs-container .tab-content h1 {
    font-size: 65px;
    font-weight: 600;
}
.tabs-respon .responsive-tabs-container .tab-content h3 {
    font-size: 42px;
    font-weight: 600;
}
.text-red {
    color: #f62d2d !important;
}
.tabs-respon .responsive-tabs-container .tab-content {
    padding-top: 12%;
}
.inutstab.clearfix {
    padding: 5px 0px;
}
.three-things {
    padding: 70px 0px;
}

/*=============end tabs=================*/
/*=================how it work======*/
.box-thousand .work-how h3 {
    font-size: 22px;
    padding: 4px 0px;
}
.box-thousand .work-how {
    text-align: center;
    height: 160px;
    padding: 0px 40px;
}
.work-how img {
    padding: 15px 0px;
}
.howitwork h4 {
    margin-top: 0px;
}
.howitwork .box-thousand .content-in p {
    height: 43px;
    overflow: hidden;
}

/*=================end how it work======*/
/*=================vedio section============*/
.vedio-section{
    background:url('../images/vedio-img.png');
        width: 100%;
    border-color: rgb(234, 233, 233);
    border-top-color: rgb(234, 233, 233);
    border-bottom-color: rgb(234, 233, 233);
    border-bottom: 0px solid rgb(234, 233, 233);
    border-top: 0px solid rgb(234, 233, 233);
    padding-left: 0px;
    color: #fff;
}
.vedio-section .text-center .img-responsive {
    margin: 0px auto;
    padding-bottom: 40px;
}
.text-center.text-vedio-content {
    margin: 12% 0%;
}
.text-vedio-content h4 {
    font-size: 35px;
    font-weight: 300;
}
.text-vedio-content h1 {
    font-size: 56px;
    font-weight: 600;
}
.text-vedio-content p.text-red {
    font-size: 22px;
    font-weight: 300;
    padding-top: 30px;
}

/*=================end vedio section============*/
/*=================boatpolling =======================*/
.boatpolling.clearfix {
    box-shadow: 1px -2px 15px #dddddd;
    background: #fff;
}
.boatpollingdes {
    padding: 20px 20px;
}
.boatpollingdes h4 {
    text-align: left;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
}
.boatpollingdes p {
    color: #777777;
    font-weight: 300;
    font-size: 16px;
}
.boatpollingdes p span {
    padding-left: 10px;
}
.boatpollingdes p a {
    text-decoration: none;
}

/*=================end boatpolling =======================*/
/*==================footer=============================*/
.footer-section {
    padding: 70px 0px;
    padding-bottom: 0px;
}
.foter-cotent ul {
    padding: 0px;
    list-style: none;
    font-weight: 300;
}
.foter-cotent ul a {
    color: #888888;
}
.foter-cotent .social-cion ul li {
    display: inline-block;
    font-size: 16px;
    margin-top: 20%;
    margin-right: 20px;
}
.foter-cotent ul li {
    padding: 5px 0px;
}
.foter-cotent .cont1 h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.foter-cotent .cont1 img {
    width: auto;
    height: 40px;
    margin-top: 50px;
}
.foter-cotent p {
    color: #888888;
}
.copuright .text-left {
    float: left;
}
.copuright p {
    color: #B3B3B3;
    font-weight: 300;
}
.copuright .text-left span {
    color: #777;
}
.copuright {
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding: 15px 0px;
}

/*===========================end footer =============*/
/*=============login==================*/
/*--animated from---*/
/* form starting stylings ------------------------------- */
.content-right .group{ 
  position:relative; 
  margin-bottom:30px; 
}
.content-right input               {
  font-size:14px;
  padding:1px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.content-right input:focus         { outline:none; }

/* LABEL ======================================= */
.content-right label                {
    color: #B0B0B0;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-weight: 300;

}

/* active state */
.content-right input:focus ~ label, .content-right input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#838383;
}

/* BOTTOM BARS ================================= */
.content-right .bar    { position:relative; display:block; width:100%; }
.content-right .bar:before, .content-right .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#EF5329; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.content-right .bar:before {
  left:50%;
}
.content-right .bar:after {
  right:50%; 
}

/* active state */
.content-right input:focus ~ .bar:before, .content-right input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.content-right .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.content-right input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
/*end from---*/

/*---model-----*/
#login .modal-header {
    border: none;
    padding: 0px;
}
#login .modal-dialog {
    width: 750px;
    margin: 7% auto;
}
.login-popup .col-sm-7.noppading {
    border-left: 1px solid;
}
.login-popup .content-right h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
}
.login-popup .content-right hr {
    border: 1px solid #ef5329;
    width: 20%;
    margin: 0px;
    margin-top: 4px;
}
.login-popup .content-right .signbtn-blue {
    background: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 4px;
    margin: 0px auto;
    margin: 30px 0px;
}
.login-popup .content-right {
    text-align: center;
    padding: 50px;
    padding: 24px 50px;
}
.orimg .img-responsive {
    margin: 0px auto;
    width: 100%;
margin-bottom: 15px;

}
.login-popup .content-right p input {
    float: left;
    width: 3%;
    margin-right: 6px;
}
.login-popup .content-right .col-sm-12 p {
    text-align: left;
    font-size: 13px;
font-weight: 300;
color: #838383;

}
.login-popup .signbtn {
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    border-radius: 4px;
    margin: 0px auto;
}
.login-popup .frgt {
    font-weight: 300;
    color: #6fc1ff;
    font-size: 12px;
    margin: 0px;
    margin-top: 10px;
}
.bg-img{
    background: url('../images/login-bgimg.png');
    width: 100%;
    border-color: rgb(234, 233, 233);
    border-top-color: rgb(234, 233, 233);
    border-bottom-color: rgb(234, 233, 233);
    border-bottom: 0px solid rgb(234, 233, 233);
    border-top: 0px solid rgb(234, 233, 233);
    padding-left: 0px;
    min-height: 45vh;
background-position: center;
background-size: 100%;
}
.bg-contnt-m {
    text-align: center;
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    padding: 25px;
}
.bg-contnt-m p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}
.modal-dialog .close {
    font-size: 40px;
    font-weight: 200;
    background: #EF5329;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    position: absolute;
    z-index: 666;
    right: -13px;
    width: 40px;
    height: 40px;
    margin-top: -13px;
    border-radius: 50%;
}

/*-----end model------*/
/*==============end login=============*/

/*===========search-result===============*/
.serach-page .shared-trip ul {
    margin: 0px;
}
.serach-page {
    background: #f2f2f9;
    padding: 20px 0px;
}
.span12 {
    text-align: center;
}
.span12 .btn-group .btn.active {
    background: transparent;
    box-shadow: none;
    text-align: center;
    color: #333333;
    font-weight: 600;
}
.span12 .btn-group {
    text-align: center;
    width: 100%;
}
.span12 .btn-group a {
    color: #777;
}
.span12 .table-bordered > thead > tr > td, .span12 .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}
.sidediv1 th {
    border: none !important;
    font-weight: 300;
}
.sidediv1 td {
    border: none !important;
}
.span12 .table-condensed.table-bordered {
    border: none;
    width: 100%;
}
.serach-result-main {
    background: #f8f8fc;
}
.left-sidebar {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding-bottom: 20px;
}
.shared-trip {
    width: 90%;
    margin: 0px auto;
}

/*------design buttons----------*/
.funkyradio div {
    clear: both;
    font-weight: 300;
}


.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 1.5em;
  text-indent: 2.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 20px;
  background: #ffffff;
  border-radius: 3px 3px 3px 3px;
  height: 20px;
  border: 1px solid #eee;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: 5px;
  color: #333;
  background-color: #EF5329 !important;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #666;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
  border-radius: 4px;
}

.funkyradio label {
    margin: 0px !important;
    border: none;
    background: transparent;
}
.left-sidebar h4 {
    padding-left: 15px;
    padding-bottom: 10px;
}
.funkyradio .funkyradio-danger {
    padding-left: 15px !important;
    padding: 5px 0px;
}
.height-men {
    height: 160px;
    overflow-y: auto !important;
}
.range-bar-cus p {
    position: absolute;
    right: 35px;
    margin-top: -30px;
}
.range-bar-cus {
    padding: 0px 15px;
}
.main-content-result.col-sm-12.noppading {
    padding: 30px 0px;
}
.right-cntent-result .heading-result {
    font-size: 26px;
    font-weight: 600;
    margin: 0px;
}
.right-cntent-result .heading-result .next-descri {
    padding: 0px 15px;
}
.right-cntent-result .heading-result .next-descri .fa {
    font-weight: 100 !important;
    color: #b5b5b5;
}
.duration-text {
    font-size: 16px;
    font-weight: 600;
}
.duration-text .duration-tim {
    font-weight: 300;
    padding-left: 10px;
}
.box-today {
    background: #fff;
    border-radius: 4px;
box-shadow: 0px 1px 5px 2px #eee;
margin: 15px 0px;
}
.box-today .col-sm-3 img {
    float: left;
    width: 63px;
height: 63px;
border-radius: 50%;

}
.right-dash-content {
    width: 54%;
    float: right;
    padding-top: 12px;
}
.descri-star-face p {
    margin: 0px;
}
.descri-star-face p .fa {
    padding-right: 10px;
    font-size: 14px;
}
.descri-star-face p {
    margin: 0px;
    font-weight: 300;
    padding: 2px 0px;
}
.descri-star-face p .fa.fa-star {
    color: #fed141;
}
.descri-star-face p .fa.fa-facebook {
    color: #3b5998;
}
.box-today.clearfix p {
    font-weight: 300;
    color: #666666;
}
.text-content-b {
    padding: 12px 7px;
}
.descri-star-face {
    padding: 12px 10px;
}
.box-today.clearfix .col-sm-3 h4 {
    font-size: 16px;
}
.box-today.clearfix .col-sm-3 p {
    font-size: 12px;
}
.text-content-bright h2 {
    font-size: 24px;
    font-weight: 600;
}
.text-content-bright p {
    font-size: 12px;
}
.text-content-b p {
    font-size: 12px;
}
.moredetail {
    font-weight: 300;
    font-size: 12px;
    background: transparent;
    border: 1px solid #EF5329;
    color: #EF5329;
    padding: 4px 5px;
    border-radius: 4px;
}
.text-content-bright .left-who {
    font-size: 13px;
}
.text-content-bright .left-who .text-green {
    font-size: 18px;
    font-weight: 600;
}
.text-content-bright {
    text-align: center;
    padding: 12px 7px;
}
.text-content-bright hr {
    margin: 10px 0px;
}
.box-today.clearfix .col-sm-3 p strong {
    font-weight: 500;
    color: #000;
}
.text-content-b-midle h2 {
    font-size: 24px;
    font-weight: 600;
}

/*--------end design button------*/
.text-content-b-midle {
    padding: 12px 0px;
}
.text-content-b-midle p {
    margin: 5px 0px;
}
.text-content-b-midle hr {
    margin: 0px 0px 15px 0px;
}
.add-des-bot p .fa {
    width: 5%;
    font-size: 17px;
}
.add-des-bot p span {
    width: 95%;
    float: right;
}
.add-des-bot .icon-red .fa {
    color: #EF5329;
}
.add-des-bot .icon-green .fa {
    color: #33BEAC;
}
.text-right-co {
    text-align: right;
}
.text-right-co p .fa.fa-user-o {
    color: #33BEAC;
}
.text-right-co p .fa.fa-bolt {
    color: #fed141;
    margin-left: 10px;
}
.text-smal {
    font-size: 12px;
}
p .next-descri {
    margin: 0px 10px;
}
.add-des-bot {
    height: 51px;
    overflow: hidden;
}
.box-today.clearfix .col-sm-7 {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}

.pagination-bottm p {
    color: #777;
    font-weight: 300;
}
.pagination-bottm .pull-right sapn {
    margin: 0px 10px;
    cursor: pointer;
}
.pagination-bottm .pull-right sapn:hover {
   color: #EF5329;
}
.pagination-bottm .pull-right .fa.fa-long-arrow-right {
    margin-left: 12px;
}
.span12 th .btn {
    float: none;
}
.create-ride{
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 15px;
}
.dont-mis.text-center.clearfix {
    clear: both;
}
.dont-mis.text-center.clearfix .ocntent-r h1 {
    font-size: 26px;
    font-weight: 600;
}
.dont-mis.text-center.clearfix .ocntent-r p {
    font-size: 16px;
    font-weight: 300;
    color: #777;
}
.dont-mis.text-center.clearfix {
    clear: both;
    background: #fff;
    padding: 50px 0px;
    box-shadow: 0px 1px 5px 2px #eee;
    margin-top: 10%;
}

/*=========end search result=============*/

/*==========single trip=================*/
.sahre-ride-btn {
    background: #33BEAC;
    border: 1px solid #33BEAC;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 4px;
}
.sahre-ride-btn .fa {
    padding-right: 5px;
}
.firstorder {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 10px 0px;
}
.firstorder .col-sm-10.noppading ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.icon-red .fa {
    color: #EF5329;
}
.icon-green .fa {
    color: #33BEAC;
}
.firstorder .col-sm-10.noppading ul li .fa {
    width: 5%;
    float: left;
    font-size: 18px;
    position: relative;
z-index: 9;

}
.firstorder .col-sm-10.noppading ul li span {
    width: 95%;
    float: right
}
.firstorder ul hr {
    margin: 0px;
    border: 1px solid #eee;
    width: 0px;
    height: 40px;
    position: absolute;
    top: 35px;
    left: 33px;
    z-index: 1;
}

.firstorder .col-sm-10.noppading ul li {
    padding: 15px 0px;
}
.firstorder p {
    font-weight: 300;
    color: #666;
    margin: 0px;
}
.intr-tim .text-green {
    font-size: 16px;
}
.intr-tim .seemap {
    color: #76a2f1;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
}
.intr-tim {
    padding-top: 12px;
}
.firstorder h5 {
    font-weight: 300;
}
.col-sm-12.noppading.ab-con {
    padding: 13px 30px;
}
.col-sm-12.noppading.ab-con h5 {
    padding-bottom: 15px;
}
.date1 p{
    width: 91%;
    float: right;
}
.date2 p, .date3 p {
    width: 80%;
    float: right;
}
.date1 .img-wid {
    width: 9%;
    float: left;
}
.date2 .img-wid, .date3 .img-wid{
    width: 20%;
    float: left;
}
.pad-15 {
    padding: 0px 15px;
}
.head-deatil-block hr {
    width: 0px;
    height: 44px;
    border: 1px solid #EF5329;
    position: absolute;
    margin-top: -33px;
    border-radius: 4px;
    left: 15px;
}
.head-deatil-block {
    border: 1px solid #eee;
    height: 48px;
    border-left: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 8px 30px;
}
.col-sm-10.noppading.pad-15 {
    padding-left: 30px;
}
.shedule-time.pad-15 {
    padding: 12px 15px;
}
.testinimal-descritption {
    background-image: url('../images/testi-icon.png');
    background-repeat: no-repeat;
    padding: 0px 0px 0px 65px;
    background-position: 1px 7px;
}

.secondorder {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 20px 60px;
    text-align: left;
    margin: 15px 0px;
}

.testinomial .des-head {
    color: #000;
    font-weight: 300;
}

.testinimal-descritption p {
    color: #666666;
}
.thirdorder.clearfix {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 15px 0px;
    text-align: left;
    margin: 15px 0px;
}
.boatowner h3 {
    font-weight: 300;
    font-size: 18px;
}
.boatowner {
    padding: 0px 30px;
    font-weight: 300;
}
.single-owner-boat {
    padding: 0px 30px;
}
.owner-img.img-responsive {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.content-owner-imd h3 {
    font-size: 22px;
    font-weight: 600;
}
.thirdorder p {
    font-weight: 300;
    color: #666;
}
.viled-check {
    padding: 0px;
    list-style: none;
}
.viled-check li {
    font-weight: 300;
    color: #33bcaa;
}
.boatmem-ber p {
    width: 50%;
    float: left;
    margin: 0px;
    font-weight: 300;
}
.boatmem-ber p strong {
    font-weight: 300;
    color: #000;
    display: block;
}
.boatmem-ber {
    width: 70%;
    padding-top: 20px;
}
.contact-boat {
    background: transparent;
    border: 1px solid #EF5329;
    color: #EF5329;
    font-weight: 300;
    padding: 9px 30px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.single-owner-boat .col-sm-8.noppading {
    padding-left: 20px;
}
.seemap {
    color: #76a2f1 !important;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
}
.single-owner-boat .descri-star-face {
    padding: 12px 0px;
}
.repoart-check .fa.fa-flag {
    padding-right: 4px;
}
.forthorder {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 15px 0px 20px 0px;
    text-align: left;
    margin: 15px 0px;
}
.boats-gallery-images .img-responsive {
    width: 216px;
    height: auto;
    margin: 0px auto;
}
.boats-gallery-images .text-red a {
    color: #f62d2d;
    font-weight: 300;
    float: right;
    padding-right: 15px;
    margin: 15px 0px 0px 0px;
}
.fifthorder.clearfix {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 15px 15px;
}
.fifthorder .brd h1 {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}
.right-bar-side p {
    color: #666;
    font-weight: 300;
}
.fifthorder .tralvere {
    text-align: center;
}
.form-group.inp select {
    background: transparent;
    border: 1px solid #dddddd;
    box-shadow: none;
    font-weight: 300;
}
.requestbook {
    background: #33BEAC;
    border: 1px solid #33BEAC;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}
.requestbook img {
    margin-right: 5px;
}
.inp .funkyradio-danger {
    padding-left: 0px !important;
}
.inp .funkyradio-danger label {
    font-size: 12px;
    font-weight: 300;
}
.sisthorder {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 15px 15px;
    margin: 15px 0px;
}
.sisthorder h2.text-red {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
}
.sisthorder h5.text-red {
    font-weight: 300;
    padding-top: 10px;
}
.seventhhorder .dont-mis.text-center.clearfix {
    margin-top: 0px;
    padding: 30px 15px;
}
.seventhhorder h1 {
    font-size: 19px !important;
    font-weight: 300 !important;
}
.seventhhorder .ocntent-r p {
    font-weight: 300;
    font-size: 14px !important;
    margin: 0px;
    padding: 10px 0px;
}
.seventhhorder .create-ride {
    margin: 3px 0px;
    padding: 8px 18px;
}


/*====end sigle trip=====================*
/*=======model shareride=============*/
#shareride .modal-header {
    padding: 0px;
    border: none;
}
.links-head h1 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.links-head {
    background: #f4f9fd;
    padding: 20px 0px;
    margin-bottom: 30px;
}
#shareride .modal-dialog {
    width: 680px;
    margin-top: 4%;
}
.pad-lef {
    padding: 0px 40px;
}
.sharehide-popup .pad-lef p {
    font-weight: 300;
    margin: 9px 0px;
}
.inputs-links input {
    width: 80%;
    border: 2px solid #d7e4ed;
    height: 40px;
    font-weight: 300;
    padding: 0px 10px;
    padding-left: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: #f4f9fd;
}
.inputs-links .copylink {
    background: #33bcaa;
    border: 1px solid #33bcaa;
    font-weight: 300;
    color: #fff;
    height: 40px;
    margin-left: -5px;
    width: 20%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.social-icos ul {
    padding: 0px;
    list-style: none;
}
.social-icos ul li {
    width: 15%;
    float: left;
    text-align: center;
    border: 2px solid #D7E4ED;
    height: 80px;
    font-size: 25px;
    border-radius: 4px;
    margin: 0px 6px;
    padding-top: 20px;
}
.social-icos ul li .check-li {
    position: absolute;
    margin-top: 5px;
    font-weight: 300;
    color: #fff;
    background: #33bcaa;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: none;
    margin-left: 30px;
}
.social-icos ul .active .check-li {
    display: block;
}
.social-icos ul li .check-li .fa.fa-check {
    font-size: 16px;
    position: relative;
    bottom: 6px;
}
.pad-lef.bottmbtnss {
    margin: 40px 0px;
}
.sharenowt {
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}
.cancle {
    background: transparent;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid;
    padding: 0px;
    margin-left: 20px;
}
.social-icos.clearfix {
    margin: 30px 0px;
}
.ab1 {
    background-image: url('../images/file-icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: 12px 10px !important;
}

.ab2 {
    background-image: url('../images/file-icon1.png') !important;
    background-repeat: no-repeat !important;
    background-position: 12px 10px !important;
}
.social-icos ul li.active {
    border: 2px solid #33BCAA;
}
.social-icos ul li .fa.fa-twitter {
    color: #3fa9f5;
}
.social-icos ul li .fa.fa-google-plus {
    color: #c92b00;
}
.social-icos ul li .fa.fa-linkedin {
    color: #007aaa;
}
/*=======end model sahreride============*/
/*==========dahsboard==================*/
.tab-navigation .navbar.navbar-inverse {
    background: #F2F2F9;
    border: none;
    font-weight: 300;
}
.tab-navigation .navbar.navbar-inverse .active a {
    background: #F8F8FC;
    color: #ef5329;
}
.tab-navigation .navbar.navbar-inverse a:hover ,.tab-navigation .navbar.navbar-inverse a:active,.tab-navigation .navbar.navbar-inverse a:focus{
    background: #F8F8FC;
    color: #ef5329;
}
.tab-navigation .navbar.navbar-inverse a {
font-weight: 300; 
font-size: 16px;
padding: 20px 40px;
color: #666;
}
.serach-page.tabs-dash {
    padding: 0px;
}
.tab-navigation #mytabnav {
    padding: 0px;
}
.tab-navigation .container-fluid {
    padding: 0px;
}
.text-red a {
    color: #EF5329;
    text-decoration: none;
    font-weight: 300;
}
.dashboard-main .thirdorder.clearfix {
    padding: 20px 0px;
    height: 220px;
overflow: hidden;

}
.text-dif {
    color: #666 !important;
}
.text-dif .fa.fa-exclamation-circle {
    color: #EF5329;
}
.dashboard-main .right-bar-side .viled-check li {
    padding: 3px 0px;
}
.dashboard-main .right-bar-side .contact-boat {
    margin-top: 5px;
    width: 100%;
}
.dashboard-main .sisthorder.clearfix {
    padding: 20px 30px;
    height: 220px;
overflow: hidden;

}
.dashboard-main .owner-img.img-responsive {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
.icon-green.pad-lrg {
    padding: 10px 0px;
}
.seemap a {
    color: #76a2f1;
}
.notifi-messag {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
    padding: 15px 0px;
    text-align: left;
}
.notifi-messag .head-not {
    float: left;
    font-size: 18px;
    font-weight: 300;
}
.notifi-messag .text-red {
    text-align: right;
}
.head-con-notifi {
    padding: 0px 25px;
}
.add-notifi ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.add-notifi ul li h5 {
    font-weight: 300;
    color: #000;
    padding-bottom: 3px;
}
.add-notifi ul li p {
    font-weight: 300;
    color: #666;
}
.button-add-cross .addyourboat {
    background: transparent;
    border: 1px solid #33BEAC;
    color: #33BEAC;
    font-weight: 300;
    border-radius: 4px;
    padding: 6px 15px;
}
.button-add-cross .cross-cen {
    background: transparent;
    border: 1px solid #EF5329;
    color: #EF5329;
    font-weight: 100;
    border-radius: 4px;
    padding: 2px 12px;
    font-size: 20px;
}
.button-add-cross {
    text-align: right;
}
.button-add-cross button {
    margin: 0px 5px;
}
.notifi-messag hr {
    margin: 15px 0px 0px 0px;
}
.add-notifi ul li {
    border-top: 1px solid #eee;
    padding: 15px 0px 5px 0px;
    height: 58px;
    overflow: hidden;
    margin-bottom: 10px;
}
.add-notifi.clearfix {
    padding: 0px 25px 0px 25px;
}
.add-notifi ul li:first-child{
    border-top: none !important;
}
.round-img-mess .img-roung {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.add-notifi.clearfix.rigt .col-sm-11.noppading {
    padding-left: 10px;
}
#mytabnav li .cunt-msg {
    background: #2b96f1;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    padding: 1px 5px;
    position: absolute;
    margin-top: -10px;
    margin-left: -9px;
}

/*=========end dashboard================*/
/*=======booking======================*/
.booking-tab .nav-tabs {
    border: none;
}
.booking-tab .nav-tabs li a {
    font-size: 16px;
    font-weight: 300;
    color: #666;
    border: 0px;
    padding: 10px 0px;
}
.booking-tab .nav-tabs .active a {
    border: none;
    background: transparent;
    color: #EF5329;
    border-bottom: 2px solid #EF5329;
}
.booking-tab .nav-tabs li a:hover ,.booking-tab .nav-tabs li a:focus {
    border: none;
    background: transparent;
    color: #EF5329;
    border-bottom: 2px solid #EF5329;
}
.booking-tab .nav-tabs li {
    margin-right: 3%;
}
.top-tab-head {
    font-weight: 300;
    font-size: 16px;
    padding: 25px 0px;
    margin: 0px;
}
.current-book .head-con-notifi p {
    font-weight: 300;
    margin: 0px;
    padding: 3px 0px;
} 
.current-book .head-not.text-green {
    font-size: 20px;
}
.current-book .head-not.text-green .fa {
    padding: 0px 15px;
    margin-bottom: 2px;
}
.current-book .notifi-messag .text-red a {
    font-size: 22px;
}
.current-book .notifi-messag .text-red a .fa.fa-check {
    color: #fff;
    background: #2EBDAA;
    border-radius: 50%;
    padding: 3px 3px;
    margin-right: 8px;
}
.current-book .notifi-messag .text-red {
    padding-top: 6px;
}
.current-book .button-add-cross .addyourboat {
    border: 1px solid #EF5329;
    color: #EF5329;
}
.man-auth {
    background: transparent;
    border: none;
    color: #2B96F1;
    font-weight: 300;
    font-size: 16px;
}
.man-auth img {
    padding-right: 7px;
}
.current-book .add-notifi.clearfix .col-sm-7.noppading p {
    margin: 0px;
    padding-top: 6px;
}
.current-book .add-notifi li {
    height: auto;
}
.current-book .clearfix.cashseat p {
    display: inline-block;
    padding-right: 40px;
}
.current-book .clearfix.cashseat p .big-tect {
    font-size: 20px;
    font-weight: 600;
}
.current-book .notifi-messag {
    margin: 0px 0px 20px 0px;
}


/*===========end booking===============*/

/*=============messages=============*/
.messages-archi {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
   padding: 20px 15px;
   margin-bottom: 15px;
}
.messages-archi .roungimg-ress {
    float: left;
    width: 7%;
}
.messages-archi .roungimg-ress img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-cont-roung-message {
    width: 93%;
    float: right;
    padding-top: 4px;
}
.img-cont-roung-message h4 {
    font-size: 16px;
    padding-bottom: 2px;
}
.img-cont-roung-message p {
    font-weight: 300;
    margin: 0px;
}
.messages-archi p {
    margin: 0px;
    font-weight: 300;
}
.messages-archi .col-sm-3 .head-not .fa {
    padding: 0px 10px;
}
.messages-archi .col-sm-3 .pull-left {
    text-align: right;
    float: right !important;
}

/*============end messages==========*/

/*============messages-detail===========*/
.message-detail-box {
    width: 1170px;
    margin: 0px auto;
}
.message-detail-box p a {
    color: #666;
}
.message-detail-box .top-tab-head a .fa {
    margin-right: 6px;
}
.message-detail-box .top-tab-head a {
    font-size: 14px;
    text-decoration: none;
}
.message-detail-box .top-tab-head {
    padding-top: 0px;
}
.message-detail-box .conversation-ridebox {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee;
}
.message-detail-box .conversation-ridebox .conv-top {
    background: #33beac;
    color: #fff;
}
.message-detail-box .conversation-ridebox .conv-top h2 {
    font-size: 22px;
}
.message-detail-box .conversation-ridebox .conv-top h1 {
    font-size: 24px;
    padding-top: 10px;
}
.message-detail-box .conversation-ridebox .conv-top p {
    font-weight: 300;
    font-size: 12px;
}
.message-detail-box .conversation-ridebox .conv-top {
    background: #33beac;
    color: #fff;
    height: 80px;
    padding: 15px 20px;
}
.message-detail-box .conversation-ridebox .col-sm-8 .conv-top {
    border-top-left-radius: 4px;
}
.message-detail-box .conversation-ridebox .col-sm-4 .conv-top {
    border-top-right-radius: 4px;
}
.conv-top .head-not .fa {
    padding: 0px 12px;
}
.conversection-block .img-roung-conver img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 3px;
}
.conversection-block .reseve .img-roung-conver {
    width: 15%;
    float: left;
}
.conversection-block .reseve .message-hcat-box {
    width: 85%;
    float: right;
}
.conversection-block .reseve {
    clear: both;
}
.conversection-block .send .img-roung-conver {
    width: 15%;
    float: right;
}
.conversection-block .send .message-hcat-box {
    width: 85%;
    float: left;
    text-align: right;
}
.conversection-block .send {
    clear: both;
}
.reseve .block-roung-chat {
    width: auto;
    background: #f2f2f9;
    padding: 8px 15px;
    border-radius: 50px;
display: inline-block;
        height: 46px;
    line-height: 29px;
    overflow: hidden;
}
.reseve .side-arrow {
    position: relative;
margin-left: 0px;
margin-top: 10px;
float: left;
left: 1px;
}
.send .block-roung-chat {
    width: auto;
    background: #33beac;
    padding: 8px 20px;
    border-radius: 50px;
    right: 120px;
    color: #fff;
    height: 46px;
    line-height: 29px;
    overflow: hidden;
    display: inline-block;
}

.send .side-arrow {
    position: relative;
    margin-top: 10px;
    right: 2px;
    float: right;
margin-right: -2px;

}
.conversection-block .img-roung-conver {
    text-align: center;
}
.message-detail-box p{
    font-weight: 300;
}
.conversection-block .img-roung-conver p {
    font-size: 10px;
}
.conversection-block .message-hcat-box {
    font-weight: 300;
}
.sameset ul {
    list-style: none;
    padding: 0px;
}
.sameset ul .fa {
    width: 8%;
    float: left;
    font-size: 18px;
    position: relative;
    z-index: 9;
}

.sameset ul span {
    width: 92%;
    float: right;
}
.sameset hr {
    margin: 0px;
    border: 1px solid #eee;
    width: 0px;
    height: 40px;
    position: absolute;
    top: 160px;
    left: 28px;
    z-index: 1;
}
.para-side-chat-b p img {
    margin-right: 15px;
}
.sameset ul li {
    padding: 5px 0px;
}
.para-side-chat-b .cba {
    padding-bottom: 10px;
    padding-top: 5px;
}
.auther-des-sign .img-responsive {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.righttext-des h3 {
    font-size: 22px;
}
.righttext-des p {
    font-size: 12px;
    margin: 0px;
}
.contact-num .fa {
    padding-right: 4px;
}

.contact-num span.text-red {
    padding-left: 4px;
    font-size: 18px;
}
.conversation-ridebox .brdr .conv-top {
    border-right: 1px solid;
}
.conversation-ridebox .chatting-test {
    padding-top: 20px;
    height: 506px;
overflow-y: auto;

}
.conversation-ridebox .left-borderset {
    padding: 20px 20px 0px 20px;
    border-left: 4px solid #F8F8FC;
}
.auther-des-sign .contact-num {
    margin: 0px;
    padding: 10% 0px;
}
.send-message-form input {
    height: 40px;
    border: 2px solid #ddddf1;
    width: 86%;
    padding-left: 10px;
    font-weight: 300;
    float: left;
    border-radius: 4px;
}
.send-message-form .ssend {
    background: #ef5329;
    color: #fff;
    height: 40px !important;
    padding: 8px 16px;
    width: 13%;
    float: right;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
}
.send-message-form.clearfix {
    background: #f2f2f9;
    padding: 25px;
    position: absolute;
width: 100%;
bottom: -61px;
box-shadow: 0px 1px 2px 2px #eee;
}
.flg-cat-cate {
    margin: 0px;
    padding: 0px 0px 25px 0px;
}

/*===========end message-detail==========*/

/*============profile================*/
.profile-left-side .profile-imgblock {
    text-align: center;
}
.profile-left-side .profile-imgblock .owner-img.img-responsive {
    margin: 0px auto;
    width: 130px;
height: 130px;

}
.profile-left-side .profile-imgblock h3 {
    font-size: 22px;
    color: #333333;
    padding-top: 6px;
}
.profile-left-side .list-profile-left p {
    font-weight: 300;
    color: #000000;
    padding-top: 15px;
margin: 0px;

}
.profile-left-side .list-profile-left ul {
    padding: 0px;
    list-style: none;
}
.profile-left-side .list-profile-left ul li a {
    color: #999999;
    font-weight: 300;
}
.profile-left-side .list-profile-left ul li {
    padding: 4px 0px;
}
.profile-left-side .profile-imgblock p {
    font-weight: 300;
}
.profile-left-side .list-profile-left ul .active a {
    color: #EF5329;
}
.profile-right-content{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px 2px #eee; 
    padding: 30px;
}
.heading-text-profile-right h3 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
}
.profile-right-content p {
    font-weight: 300;
}
.profile-right-content .funkyradio div {
    clear: none;
}
.profile-right-content .funkyradio div {
    clear: none;
    padding-left: 0px !important;
}
.funkyradio input[type="radio"]:empty ~ label::before {
    width: 23px;
    height: 23px;
    border: 1px solid #33BEAC;
    border-radius: 50%;
}
.funkyradio input[type="radio"]:checked ~ label::before {
    background-color: #33BEAC !important;
    border-radius: 50% !important;
}
.profile-right-content .funkyradio-danger {
    display: inline-block;
}
.funkyradio .col-sm-12.noppading .funkyradio-danger {
    margin-right: 15px;
}
.profile-right-content .funkyradio p {
    margin: 0px;
}
.col-sm-6.noppading.right-t {
    padding-right: 15px !important;
}
.col-sm-6.noppading.left-t {
    padding-left: 15px !important;
}
.funkyradio input, .funkyradio select {
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: #000;
    height: 35px;
}
.funkyradio-danger {
    margin-bottom: 20px;
}

input::placeholder {
  color: #000;
}
.mm-t input {
    margin-bottom: 0px;
}
.col-sm-12.noppading.biodescrip {
    padding: 15px 0px;
        padding-left: 0px;
}
.col-sm-12.noppading.biodescrip h4 {
    padding-bottom: 10px;
}
.col-sm-12.noppading.biodescrip .col-cen-d p {
    padding-bottom: 15px !important;
}
.col-sm-12.noppading.biodescrip .col-cen-d p img {
    margin-right: 5px;
}
.savebutton {
    background: #EF5329;
    border: 1px solid #EF5329;
    color: #fff;
    font-weight: 300;
    padding: 6px 40px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 25px;
}

/*============end profile=============*/
/*=================profile-photo========*/
.col-sm-5.redcheck-photo {
    text-align: center;
}
.redcheck-photo .owner-img.img-responsive {
    margin: 0px auto;
}
.col-sm-5.redcheck-photo .fa {
    background: #ef5329;
    color: #fff;
    font-weight: 300;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: 20px;
}
.photo-profile .redcheck-photo h3 {
    margin: 0px;
        margin-top: 0px;
    margin-top: 12px;
   font-size: 18px;
}
.photo-profile .right-photo-heading {
    font-weight: 300;
    padding-top: 15px;
}
.photo-profile ul {
    padding: 0px;
    list-style: none;
}
.photo-profile ul li {
    width: 48%;
    display: inline-block;
    font-weight: 300;
    padding-top: 20px;
}
.photo-profile ul li img {
    margin-right: 5px;
}
.photo-profile.clearfix {
    padding: 25px 0px;
}
.upload-icon-profile-photo {
    width: 40%;
    margin: 0px auto;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 6%;
    border: 2px solid #E1E1F3;
    padding: 50px;
    border-radius: 50px;
}


.upload-icon-profile-photo .img-responsive {
    margin: 0px auto;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #EF5329;
    margin: 0px auto;
    padding: 7px;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
}
.upload-icon-profile-photo p {
    color: #C3C3E2;
    font-size: 18px;
    padding: 4px 0px;
}
.upload-icon-profile-photo p.ddee{
    font-size: 14px;
    color: #ddd;
}
/*=======edn profile-photo===========*/
/*=================verification==========*/
.verification-blocks .img-blocks-s {
    float: left;
    width: 8%;
}
.verification-blocks .right-text-tt {
    float: right;
    width: 92%;
}
.verification-blocks .right-text-tt h4 {
    font-weight: 300;
    color: #000;
    padding-bottom: 5px;
}
.edit {
    background: transparent;
    border: 1px solid #ddd;
    padding: 3px 20px;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 4px;
    margin-bottom: 8px;
}
.verification-blocks .col-sm-3.noppading.text-right p.text-green .fa {
    color: #fff;
    font-weight: 300;
    background: #33BEAC;
    padding: 3px;
    border-radius: 50%;
    margin-right: 3px;
}
.verification-blocks .col-sm-3.noppading.text-right p.text-green {
    font-size: 16px;
}
.connect-myacc {
    width: 80%;
    background: #355089;
    border: 1px solid #355089;
    color: #fff;
    font-weight: 300;
    padding: 6px;
    border-radius: 4px;
    margin-top: 18px;
}
.read-accp {
    width: 80%;
    background: #ef5329;
    border: 1px solid #ef5329;
    color: #fff;
    font-weight: 300;
    padding: 6px;
    border-radius: 4px;
    margin-top: 18px;
}

/*=========end verification==============*/
/*=========boat==============*/
.profile-section.boat .tab-content {
    margin-top: 25px;
}
.septr .upload-icon-profile-photo {
    width: 100%;
    float: left;
    border-radius: 30px;
    padding: 60px 0px;
}
.septr .fileUpload {
    margin-top: 18%;
    text-align: center;
}
.septr .fileUpload {
    margin-top: 18%;
    width: 40%;
    text-align: center;
    left: 0px;
    margin-left: 0px;
}
.septr .ddee {
    width: 40%;
    text-align: center;
    color: #A7A7A7;
    padding-top: 3px;
}
.septr p {
    text-align: center;
}
.profile-section.boat .funkyradio input ,.profile-section.boat .funkyradio select{
    margin-bottom: 40px;
}

/*=========end boat==============*/
/*===========rating given============*/
.verification-blocks.clearfix.ratingblocks .arowbb {
    clear: both;
    background: #F2F2F9;
    padding: 16px 30px;
    font-weight: 300;
    border-radius: 4px;
    height: 100px;
    overflow: hidden;
    font-style: italic;
}
.verification-blocks.clearfix.ratingblocks .arow-bolcks {
    padding-left: 40px;
}
.verification-blocks.clearfix.ratingblocks .arowbb img {
    position: absolute;
    left: 21px;
    top: 30px;
}
.verification-blocks.clearfix.ratingblocks .arow-bolcks .ating-star.pull-left .fa {
    color: #ffc600;
    font-size: 18px;
}
.verification-blocks.clearfix.ratingblocks .arow-bolcks p.pull-right {
    color: #999999;
    font-style: italic;
}

/*================end rating given=============*/
/*====================rating receiving=============*/
.forty-five-box .textforty h1 {
    font-size: 88px;
    font-weight: 600;
    color: #3b3b3b;
}
.photo-profile.clearfix .col-sm-4.textforty {
    text-align: center;
}
.photo-profile.clearfix .col-sm-4.textforty .ating-star .fa{
color: #ffc600;
font-size: 18px;
}
.forty-five-box.clearfix .col-sm-4.textforty h4 {
    font-weight: 300;
    font-size: 16px;
}
.forty-five-box.clearfix .col-sm-4.textforty {
    padding: 0px 80px;
margin-top: 25px;

}
#myProgress {    
  width: 100%;
}   

#myBar {
  width: 80%;
  height: 20px;
  background-color: #33beac;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar1 {
  width: 15%;
  height: 20px;
  background-color: #33beac;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar2 {
  width: 10%;
  height: 20px;
  background-color: #33beac;
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar3 {
  width: 0%;
  height: 20px;
  background-color: #33beac;
  text-align: center;
  line-height: 20px;
  color: white;
}
#myBar4 {
  width: 15%;
  height: 20px;
  background-color: #33beac;
  text-align: center;
  line-height: 30px;
  color: white;
}

.prograss-bbar #myProgress {
    width: auto;
    margin-left: 20%;
    padding-top: 4px;
}
.prograss-bbar .bar-text-ti {
    float: left;
    font-size: 16px;
}
.prograss-bbar #myProgress #myBar,
.prograss-bbar #myProgress #myBar1,
.prograss-bbar #myProgress #myBar2,
.prograss-bbar #myProgress #myBar3,
.prograss-bbar #myProgress #myBar4,
.prograss-bbar #myProgress #myBar5 {
    float: left;
    margin-right: 10px;
}
.col-sm-8.prograss-bbar {
    padding-left: 7%;
    color: #9F9F9F;
    border-left: 1px solid #eee;
}
.prograss-bbar .bar-text-ti .fa {
    margin-left: 2px;
}
.prograss-bbar li {
    display: block !important;
    clear: both !important; 
}
/*==================end rating receiving=============*/
/*================payment-status==================*/
.profile-right-content.clearfix.payment-status .col-sm-12.noppading .checkkk input {
    margin-bottom: 10px;
}
.profile-right-content.clearfix.payment-status .col-sm-12.noppading .funkyradio-danger input[type="radio"]:checked ~ label::before, .funkyradio-danger input[type="checkbox"]:checked ~ label::before {
    background-color: #EF5329;
    border-radius: 50%;
    border: 1px solid #EF5329;
}
.balance-avalable .img-responsive {
    margin: 0px auto;
    margin-bottom: 20px;
}
.balance-avalable p {
    font-size: 18px;
    padding-top: 1px;
}
.balance-avalable.text-center {
    padding-top: 20px;
}
.payment-status .checkkk {
    padding: 7px 0px;
}
.payment-status .funkyradio input {
    height: 50px;
}
.payment-status .booking-tab .profile-right-content.clearfix {
    background: transparent;
    box-shadow: none;
    padding: 30px 0px;
}
.payment-status .tab-content {
    padding-top: 30px;
}
.payment-status .tab-content .table.tab-table {
    font-weight: 300;
}
.payment-status .tab-content .table.tab-table th {
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}
.payment-status .tab-content .table.tab-table tr td {
    padding: 15px 0px !important;
}
.request-pendibg {
    color: #EF5329;
    border: 1px solid #EF5329;
    background: transparent;
    border-radius: 4px;
    padding: 6px 0px;
    width: 100%;
}
.approve-pendibg{
      color: #fff;
    border: 1px solid #33BEAC;
    background: #33BEAC;
    border-radius: 4px;
    padding: 6px 0px;
    width: 100%;  
}
.approve-pendibg .fa.fa-check {
    background: #fff;
    color: #33BEAC;
    padding: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

/*===================end payment status================*/
/*==================notification====================*/
.notification .funkyradio-danger label {
    font-weight: 300;
}
.notification .funkyradio-danger {
    margin-bottom: 0px;
    display: block;
    padding-top: 13px;
}
.notification .checkkk {
    padding-top: 10px;
}
.notification p {
    padding: 6px 0px;
}
.checkkk .funkyradio input[type="checkbox"]:checked ~ label::before {
    line-height: 17px;
}

/*============end notification==================*/
/*===================change-password==============*/
.lock-bg-img .img-responsive {
    margin: 0px auto;
}
.photo-profile.clearfix.password-chnge {
    padding-top: 45px;
}


/*====end change password================*/
/*============close account===========*/
.funkyradio textarea{
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: #000;
}
.change-pass-accoun textarea {
    padding-top: 15px;
}
.editing-description-d ul {
    font-weight: 300;
    list-style: none;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.editing-description-d ul li {
    padding: 10px 0px;
    clear: both;
}
.editing-description-d ul li .arow-c {
    color: #33BEAC;
    width: 3%;
    float: left;
}
.editing-description-d ul li .edit-cont {
    width: 97%;
    float: right;
}
.change-pass-accoun .editing-description-d {
    padding-bottom: 30px;
}
.change-pass-accoun .col-sm-12.noppading.textar {
    padding-top: 20px;
}
.change-pass-accoun .savebutton {
    padding: 6px 20px;
}
.edit-cont a {
    color: #2B96F1;
    text-decoration: none;
}

/*============end close account============*/
/*==================boat-offer===========*/
.col-sm-8.noppading.pad-15 {
    padding-left: 30px;
}
.firstorder .col-sm-8.noppading ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.firstorder .col-sm-8.noppading ul li {
    padding: 15px 0px;
}
.firstorder .col-sm-8.noppading ul li .fa {
    width: 5%;
    float: left;
    font-size: 18px;
    position: relative;
    z-index: 9;
}
.firstorder .col-sm-8.noppading ul li span {
    width: 95%;
    float: right;
}
.boat-offer .offer-boat-heading {
    font-weight: 300;
    font-size: 24px;
    padding: 0px 30px;
}
.boat-offer .funkyradio-danger {
    padding: 0px !important;
    margin: 0px;
}
.boat-offer .funkyradio input, .boat-offer .funkyradio select {
    margin-bottom: 0px;
    height: 35px;
    font-weight: 300;
}
.boat-offer  .firstorder .col-sm-8.noppading ul li span h5 {
    float: left;
    padding-top: 10px;
    font-size: 16px;
}
.boat-offer .firstorder .col-sm-8.noppading ul li span input {
    width: 75%;
    float: right;
}
.boat-offer .firstorder .col-sm-8.noppading ul li .fa {
    padding-top: 10px;
    padding-left: 5px;
}
.boat-offer  .firstorder ul hr {
    height: 50px;
    top: 63px;
    left: 38px;
}
.boat-offer .funkyradio label {
    font-weight: 300;
}
.map-offer-bato {
    padding: 0px 30px;
}
.boat-offer .firstorder .funkyradio-danger {
    margin-bottom: 20px;
}
.map-offer-bato .text-small {
    font-size: 12px;
    padding-top: 10px;
}
.boat-offer .shedule-time.pad-15.clearfix {
    padding: 0px 0px;
    padding-top: 20px;
}
.boat-offer .right-ttxt-inputs {
    float: right;
    width: 71%;
}
.boat-offer .col-sm-4.noppading.right-ttxt-inputs {
    width: 29%;
    float: left;
}
.boat-offer .right-ttxt-inputs input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    padding-bottom: 7px;
}
.right-ttxt-inputs .at-bgg {
    font-weight: 300;
    text-align: center;
    width: 35px;
    height: 35px;
    margin: 0px auto;
    background: #e9e9f4;
    border-radius: 50%;
    padding-top: 6px;
}
.boat-offer .inner-boat-heading {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 25px;
}
.boat-offer .page-headd {
    font-size: 34px;
    color: #414141;
    font-weight: 600;
    margin-bottom: 30px;
}
.map-offer-bato .img-responsive {
    border: 1px solid #ddd;
    margin-top: 10px;
}
.boat-offer .boatowner {
    padding-left: 0px;
}
.boat-offer .thirdorder.clearfix .shedule-time.pad-15.clearfix {
    padding-left: 30px;
    padding-top: 0px;
}
.boat-offer .thirdorder.clearfix .shedule-time.pad-15.clearfix .right-ttxt-inputs input {
    width: 20%;
    float: left;
}
.boat-offer .date1 p {
    font-size: 16px;
}
.boat-offer  .date1 p {
    width: 93%;
}
.boat-offer .thirdorder.clearfix .shedule-time.pad-15.clearfix .right-ttxt-inputs .img-wid {
    width: 6% !important;
}
.boat-offer .firstorder.clearfix .img-wid {
    width: 9% !important;
}
.boat-offer .firstorder.clearfix .date1 p {
    width: 89%;
}
.toll-tip a {
    color: #515465;
}
.toll-tip a .fa {
    font-size: 22px;
    font-weight: 300;
}
.toll-tip .tooltip {
    position: relative;
    display: inline-block;
    color: #006080;
    opacity: 1;
}
.toll-tip .tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 360px;
    background-color: #515465;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    border-radius: 3px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    margin-left: 5px;
    font-size: 14px;
}

.toll-tip .tooltip-right {
    top: -5px;
    left: 125%;
}
.toll-tip .tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
.toll-tip .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.fott-inputs-round .funkyradio {
    padding: 0px;
    list-style: none;
}
.fott-inputs-round .funkyradio li {
    display: inline-block;
    width: 16%;
    text-transform: uppercase;
}
.fott-inputs-round .funkyradio-danger input[type="checkbox"]:checked ~ label::before {
    line-height: 15px;
}
.fott-inputs-round  .funkyradio input[type="checkbox"]:empty ~ label::before {
    border-radius: 50%;
}
.type-Boat .col-sm-4.noppading.right-ttxt-inputs p {
    width: 82%;
}
.type-Boat .right-ttxt-inputs {
    width: 66%;
}
.type-Boat select {
    border: none;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    width: 90%;
}
.type-Boat .col-sm-7 .date2 select {
    width: 100%;
}
.col-sm-7.noppading.wid-set .right-ttxt-inputs {
    width: 50%;
}
.col-sm-7.noppading.wid-set {
    width: 40%;
    float: right;
    padding-right: 30px;
}
.price-confr-boat .funkyradio div {
    clear: none;
}
.price-confr-boat .date1 p {
    width: auto;
    float: none;
    padding-left: 27px;
    width: 100% !important;
}
.price-confr-boat .col-sm-4.noppading.right-ttxt-inputs {
    width: auto;
    float: left;
}
.price-confr-boat {
    clear: both;
}
.price-confr-boat .funkyradio {
    padding-left: 68px;
} 
.price-confr-boat.funkyradio div {
    display: inline-block;
    clear: none;
}
.price-confr-boat.funkyradio .right-ttxt-inputs.pprice-right input {
    width: auto !important;
}
.price-confr-boat.funkyradio .right-ttxt-inputs.pprice-right .at-bgg {
    margin: 0px 20px;
}
.price-confr-boat.funkyradio .right-ttxt-inputs.pprice-right .funkyradio-danger {
    margin: 0px;
}
.price-confr-boat.funkyradio {
    padding-top: 30px;
}
.fott-inputs-round textarea {
    width: 97%;
    border: none;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
}
.max-word {
    float: right;
    padding-right: 40px;
    color: #999999 !important;
    font-size: 12px;
    padding-top: 7px;
}

/*=========end boat-offer=================*/
/*============signup========================*/
.serach-result-main.signuppage .container.noppading {
    width: 100%;
}
.serach-result-main.signuppage .container.noppading .main-content-result.col-sm-12.noppading {
    padding-top: 0px;
    padding-bottom: 0px;
}
.signuppage .profile-right-content.clearfix {
    padding: 0px;
}
.signuppage  .login-popup .content-right {
    padding: 25px 30px;
}
.signuppage .content-right h1 {
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
    color: #444;
    font-weight: 600;
    margin-top: 6%;
}
.logo-mod .img-responsive {
    width: auto;
    height: 66px;
}
.signuppage .login-popup .content-right .signbtn-blue {
    width: auto;
    padding: 12px;
    margin: 40px 0px 15px 0px;
    width: 35%;
}
.signuppage  .orimg .img-responsive {
    width: 35%;
    margin-bottom: 50px;
    margin-top: 30px;
}
.bigform-layout {
    width: 80%;
    margin: 0px auto;
}
.signuppage .content-right label {
    top: 1px;
    left: 0px;
}
.signuppage .login-popup .content-right p input{
    width: 0%;
}
.signuppage .signbtn {
    margin: 40px 0px 10px 0px;
    width: 35%;
}
.signuppage .col-sm-6.right-t {
    padding-right: 30px;
}
.signuppage .col-sm-6.left-t {
    padding-left: 30px;
}
.signuppage .profile-right-content.clearfix {
    box-shadow: none;
}

.signuppage .bg-img {
  background: rgba(0, 0, 0, 0) url("../images/signup-bg.png") repeat scroll 0 0;
  min-height: 100vh;
  background-size: cover;
}
.signuppage .bg-img h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    margin-top: 40%;
}
.signuppage .bg-img h1 .text-orange {
    line-height: 140px;
    color: #ef5329;
}
.signuppage .bg-img .sign-clock {
    text-align: right;
    font-weight: 300;
    padding-top: 20px;
padding-right: 20px;

}
.signuppage .bg-img .sign-clock p {
    display: inline-block;
    margin: 0px;
}
.signuppage .bg-img .sign-clock p a {
    color: #fff !important;
}
.signuppage .bg-img .sign-clock .signbtn-signup {
    color: #fff;
    background: #EF5329;
    border: 1px solid #EF5329;
    padding: 5px 20px;
    line-height: 27px;
    text-transform: uppercase;
    border-radius: 4px;
    margin-left: 6px;
}
.right-slidercoursl .carousel-inner {
    padding: 0px 100px;
}
.right-slidercoursl #myCarousel {
    min-height: 94vh;
}
.right-slidercoursl .carousel-indicators {
    width: 20%;
    margin-left: 30%;
}
.right-slidercoursl .carousel-indicators .active{
    background: #EF5329;
    border: 1px solid #EF5329;
}
.right-slidercoursl .carousel-indicators li{
    background: #36545c;
    border: 1px solid #36545c;
}
/*============end signup=======================*/
/*============ride-alert==================*/
.ride-alert-section .main-content-result.col-sm-12.noppading {
    padding-top: 0px;
}
.ride-alert-section .img-cont-roung-message {
    width: 100%;
}
.ride-alert-section h4 {
    font-weight: 300;
}
.ride-alert-section .img-cont-roung-message .fa {
    padding: 0px 4px;
}
.ride-alert-section .img-cont-roung-message p .text-left {
    padding-right: 25px;
}
.ride-alert-section .img-cont-roung-message .head-not.text-green {
    padding-bottom: 10px;
}
.text-blue a {
    color: #2B96F1;
}
.eye-align-icons p {
    display: inline-block;
    padding-left: 20px;
}
.pull-left.eye-align-icons {
    padding-top: 19px;
}
.rides-offer .button-add-cross .man-auth {
    font-size: 14px;
}
.rides-offer .button-add-cross .text-green {
    padding-right: 30px;
    padding-left: 15px;
}
.rides-offer .button-add-cross a {
    font-weight: 300;
}
.text-blue {
    color: #2B96F1 !important;
}
.approvl-seats p {
    display: inline-block;
    margin-left: 30px !important;
    text-align: center;
}
.approvl-seats p .large-text {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
}
.approvl-seats p .automatic.text-red {
    display: block;
    text-align: center;
}

/*=============end ride alert=================*/
/*==========4040 error page==================*/
.error-page{
      background: rgba(0, 0, 0, 0) url("../images/error-bgimage.png") repeat scroll 0 0;
  min-height: 100vh;
  background-size: cover;
  position: absolute;
top: 0px;
z-index: -1;
width: 100%;
}
.page-error h1 {
    font-size: 187px;
    color: #4e4e4e;
    line-height: 160px;
}
.page-error h3 {
    font-size: 46px;
    font-weight: 300;
    margin: 0px;
}
.page-error p {
    font-weight: 300;
    font-size: 22px;
    padding-top: 40px;
}
.page-error {
    padding-top: 25%;
}
.message-alrt button {
    background: transparent;
    border: none;
    font-size: 22px;
}
.message-alrt button span {
    font-size: 10px;
    background: #2B96F1;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    line-height: 13px;
    margin-right: 7px;
    right: -9px;
    top: -6px;
    padding-top: 3px;
}
.message-alrt {
    margin-top: 5px;
}
.message-alrt1 button {
    background: transparent;
    border: none;
}
.message-alrt1 button img {
    width: 40px;
height: 40px;
    border-radius: 50%;
}
.message-alrt1 button span {
    font-size: 10px;
    background: #EF5329;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    line-height: 13px;
    margin-right: 7px;
    right: -4px;
top: 6px;
    padding-top: 3px;
}
.message-alrt1 {
    margin: 0px 10px;
}

/*=========end 404 error page=================*/

/*===========responsive=============*/
@media(min-width: 320px) and (max-width: 767px){
.dropdown.sig {
    display: none;
}
.navigation .navbar-toggle {
    background: #EF5329 !important;
}
.navigation .navbar-toggle:hover, .navigation .navbar-toggle:active, .navigation .navbar-toggle:focus {
    background: #33BEAC !important;
}
.container {
    width: 100%;
}
.inutstab.clearfix {
    text-align: center;
}
.tabs-respon .accordion-link {
    text-decoration: none;
}

.navbar-header .navbar-brand img {
    width: auto;
    height: 30px;
}
.navigation .navbar.navbar-inverse {
    min-height: auto;
    margin-bottom: 10px;
}
.baner-overlay {
    background: none;
}
.banner-home .shared-trip {
    margin-top: 6%;
}
.shared-trip {
    width: 100%;
}
.shared-trip h1 {
    font-size: 25px;
    margin-bottom: 7px;
}
.shared-trip ul li {
    width: 100%;
    margin: 2px 0px;
}
.shared-trip ul li input, .shared-trip ul li select {
    height: 40px;
    font-size: 12px;
}
.search {
    width: 30%;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-top: 8px;
}
.shared-trip ul li {
    float: none;
    text-align: center;
}
.many-boast-section {
    padding: 20px 0px;
    text-align: center;
}
.strong-title {
    font-size: 22px;
}
.offer-icons {
    margin-top: 8px;
}
.five-boat-box ul li {
    float: none;
    margin: 4px 4px;
    display: inline-block;
}
.boatimag img {
    width: auto;
    height: 50px;
}
.boatimag {
    top: 110%;
}
.thousand-boats {
    padding: 20px 0px;
}
.thousand-boats h1 {
    line-height: 30px;
    font-size: 20px;
}
.box-thousand .content-in {
    margin: 10px 0px;
}
.three-things {
    padding: 0px 0px;
}
.tabs-respon .responsive-tabs-container .tab-content {
    padding-top: 4%;
}
.responsive-tabs-container .tab-content {
    width: 100%;
}
.tabs-respon .responsive-tabs-container .tab-content h1 {
    font-size: 30px;
    text-align: center;
}
.tabs-respon .responsive-tabs-container .tab-content h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.box-thousand .col-sm-4 {
    padding: 0px;
}
.vedio-section .text-center .img-responsive {
    padding-bottom: 10px;
}
.text-vedio-content h4 {
    font-size: 20px;
}
.text-vedio-content h1 {
    font-size: 30px;
}
.box-thousand .col-sm-3 {
    padding: 0px;
}
.boatpolling.clearfix {
    margin: 10px 0px;
}
.footer-section {
    padding: 0px 0px;
    text-align: center;
}
.foter-cotent .cont1 img {
    margin-top: 50px !important;
    margin: 0px auto;
}
.foter-cotent .social-cion ul li {
    margin-top: 7%;
    margin: 0px 12px;
}
.social-cion {
    padding-top: 10px;
}
.copuright {
    margin-top: 20px;
}
.copuright .text-left {
    float: none;
    text-align: center;
}
.copuright p {
    text-align: center;
}
.navigation #myNavbar {
    border: none;
}
.navigation #myNavbar ul.navbar-nav.navbar-right {
    padding-top: 20px;
    text-align: center;
}
.navigation #myNavbar ul.navbar-nav.navbar-right .sign {
    padding-top: 6px;
    display: inline-block !important;
    text-align: center;
    float: none;
}
.nav.navbar-nav.navbar-right li {
    float: left;
}

#myNavbar .nav.navbar-nav.navbar-right li a {
    padding-top: 0px !important;
    padding: 0px;
}
.offer-boat {
    padding: 6px 10px;
    margin-left: 24px;
}
.find-boat {
    padding: 6px 10px;
}
.nav.navbar-nav.navbar-right li {
    float: left;
}
.nav.navbar-nav.navbar-right li a {
    padding: 0px;
}
.find-boat {
    padding: 6px 10px !important;
}
.baner-overlay {
    z-index: -1;
}
.tab-navigation .navbar-toggle {
    margin-right: 30px;
    background: #33BEAC;
    border: 1px solid #33BEAC;
}
.tab-navigation .navbar-toggle:hover{
    background: #33BEAC;
    border: 1px solid #33BEAC !important;
}
.tab-navigation #mytabnav {
    border: none;
    margin: 0px;
}
.tab-navigation #mytabnav .navbar-nav {
    margin: auto;
    border: none;
}
.verification-blocks .img-blocks-s {
    width: 20%;
}
.verification-blocks .right-text-tt {
    width: 80%;
}
.verification-blocks .right-text-tt h4 {
    font-size: 16px;
}
.right-cntent-result .heading-result .next-descri {
    padding: 0px 0px;
}
.serach-page .pull-right {
    float: none !important;
}
.right-cntent-result.pull-left {
    float: none !important;
    text-align: center;
}
.right-cntent-result .heading-result {
    font-size: 14px !important;
}
.serach-page {
    text-align: center;
}
.sahre-ride-btn {
    margin-top: 15px;
}
.firstorder .col-sm-10.noppading ul li span {
    float: right;
}
.intr-tim {
    padding-left: 30px;
}
.secondorder {
    padding: 20px 15px;
    margin: 15px 0px;
}
.testinimal-descritption {
    padding: 0px 0px 0px 55px;
}
.single-owner-boat {
    text-align: center;
}
.owner-img.img-responsive {
    width: 100px;
    height: 100px;
    margin: 0px auto;
}
.boatmem-ber {
    width: 100%;
}
.contact-boat {
    padding: 9px 18px;
}
.boats-gallery-images .img-responsive {
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.boatowner {
    text-align: center;
}
.right-bar-side .col-sm-6.noppading.brd {
    width: 50%;
    float: left;
}
.firstorder .col-sm-10.noppading ul li span {
    width: 90%;
}
.date1 p {
    width: 88%;
}
.date2 .img-wid, .date3 .img-wid {
    width: 10%;
}
.date2 p, .date3 p {
    width: 88%;
}
.testinimal-descritption {
    padding: 0px 0px 0px 15px !important;
    background-position: 1px 10px;
    background-image: none;
    text-align: center;
}
.single-owner-boat .col-sm-8.noppading {
    padding-left: 0px;
    padding-top: 20px;
}
.logo-mod .img-responsive {
    height: 35px;
    margin: 0px auto;
}
.bigform-layout {
    width: 100%;
}
.signuppage .login-popup .content-right {
    padding: 25px 25px;
}
.signuppage .content-right h1 {
    font-size: 22px;
    margin-top: 10%;
}
.signuppage .login-popup .content-right .signbtn-blue {
    padding: 12px 0px;
    margin: 25px 0px 15px 0px;
    width: 80%;
}
.signuppage .col-sm-6.left-t {
    padding-left: 15px;
}
.signuppage .col-sm-6.right-t {
    padding-right: 15px;
}
.signuppage .signbtn {
    margin: 20px 0px 20px 0px;
    width: 75%;
}
.right-slidercoursl .carousel-inner {
    padding: 0px 15px;
}
.signuppage .bg-img h1 {
    font-size: 25px;
    margin-top: 15%;
}
.signuppage .bg-img h1 .text-orange {
    line-height: 38px;
}
.right-slidercoursl #myCarousel {
    min-height: 55vh;
}
.signuppage .bg-img {
    min-height: 65vh;
}
.serach-page .shared-trip li {
    margin: 12px 0px;
}
.left-sidebar {
    margin: 0px 15px;
}
.right-cntent-result {
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.duration-text {
    padding-bottom: 10px;
    text-align: center;
}
.right-dash-content {
    width: 70%;
}
.descri-star-face p {
    display: inline-block;
    padding-right: 15px;
}
.box-upper p {
    text-align: center;
}
.col-sm-12.noppading.box-upper {
    text-align: center;
}

.booking-tab {
    margin: 0px 15px;
}
.top-tab-head {
    text-align: center;
}
.booking-tab .nav-tabs li {
    float: none;
    display: inline-block;
}
.booking-tab .nav.nav-tabs {
    text-align: center;
}
.head-con-notifi {
    padding: 0px 10px;
    text-align: center;
}
.add-notifi.clearfix {
    padding: 0px 10px 0px 10px;
}
.notifi-messag .head-not {
    float: none;
    font-size: 15px !important;
    text-align: center;
}
.approvl-seats p {
    margin-left: 6px !important;
    text-align: center;
    font-size: 12px;
    margin-right: 6px !important;
}
.head-con-notifi .pull-right.approvl-seats {
    float: none !important;
}
.current-book .add-notifi li {
    text-align: center;
}
.current-book .clearfix.cashseat p {
    display: block;
    padding-right: 0px;
}
.button-add-cross {
    text-align: center;
}
.rides-offer .button-add-cross .text-green {
    display: block;
    margin: 6px 0px;
}
.messages-archi {
    padding: 20px 0px;
}
.messages-archi .head-not.text-green {
    font-size: 14px;
    text-align: center;
}
.messages-archi .pull-left.eye-align-icons p{
    text-align: center;
    padding: 0px 10px;
}
.messages-archi .col-sm-3 .pull-left {
    text-align: center;
    float: none !important;
}

}
@media(min-width: 768px) and (max-width: 992px){
.navigation .navbar-brand {
    height: auto;
    padding: 15px 0px 0px 20px;
}

.navigation .navbar-brand .img-responsive {
    width: auto;
    height: 30px;
}
.navigation .container-fluid {
    padding: 0px;
}
.navigation #myNavbar ul.navbar-nav.navbar-right {
    padding-top: 15px;
}
.dropdown.sig {
    padding-right: 5px;
}
.container {
    width: 750px;
}
.banner-home .shared-trip {
    margin-top: 8%;
}
.shared-trip h1 {
    font-size: 43px;
}
.shared-trip {
    width: 100%;
}
.shared-trip ul {
    text-align: center;
}
.shared-trip ul li {
    float: none;
    width: 43%;
    display: inline-block;
    margin: 10px 8px;
}
.banner-home {
    height: 45vh;
    background-repeat: no-repeat;
    background-position: right !important;
}
.navigation .navbar.navbar-inverse {
    min-height: 64px;
}
.baner-overlay {
    top: 65px;
    height: 45vh;
}
.strong-title {
    font-size: 25px;
}
.boatimag {
    display: none;
}
.five-boat-box {
    margin-top: 0%;
    text-align: center;
}
.five-boat-box ul li {
    float: none;
    margin: 9px 9px;
    display: inline-block;
}
.many-boast-section {
    padding-bottom: 50px;
}
.thousand-boats {
    padding: 50px 0px;
}
.thousand-boats h1 {
    line-height: 35px;
    font-size: 30px;
}
.box-thousand .content-in .left-con {
    height: auto;
}
.box-thousand .content-in p {
    font-size: 12px;
}
.box-thousand .content-in h2 {
    font-weight: 600;
    font-size: 20px;
}
.tabs-respon .responsive-tabs-container .tab-content {
    padding-top: 0%;
}
.responsive-tabs-container .tab-content {
    width: 100%;
}
.img-tab {
    float: left;
}
.text-head-tab {
    width: 90%;
    float: right;
}
.howitwork .box-thousand .content-in p {
    height: 70px;
}
.box-thousand .work-how {
    height: 200px;
    padding: 0px 0px;
}
.box-thousand .col-sm-3 {
    width: 50%;
    margin: 15px 0px;
}
.foter-cotent .cont1 img {
    height: 25px;
    margin-top: 0px;
}
.foter-cotent .social-cion ul li {
    margin-top: 12%;
    margin-right: 9px;
}
.foter-cotent .cont1 h4 {
    font-size: 14px;
    margin-bottom: 20px;
}
.tab-navigation .navbar.navbar-inverse a {
    font-size: 15px;
    padding: 18px 20px;
}
.verification-blocks .img-blocks-s {
    width: 15%;
}
.verification-blocks .right-text-tt {
    width: 85%;
}
.connect-myacc {
    width: 100%;
}
.read-accp {
    width: 100%;
}
.intr-tim .seemap {
    font-size: 12px;
    margin-top: 0px;
}
.date2 p, .date3 p {
    width: 63%;
}
.owner-img.img-responsive {
    width: 70px;
    height: 70px;
}
.single-owner-boat .col-sm-8.noppading {
    padding-top: 0px;
}
.contact-boat {
    padding: 9px 10px;
    margin-top: 15px;
}
.secondorder {
    padding: 20px 20px;
}
.sisthorder h2.text-red {
    font-size: 16px;
}
.logo-mod .img-responsive {
    height: 25px;
}
.bigform-layout {
    width: 100%;
}
.signuppage .content-right h1 {
    font-size: 20px;
    margin-top: 10%;
}
.signuppage .login-popup .content-right .signbtn-blue {
    width: 80%;
}
.signuppage .col-sm-6.right-t {
    padding-right: 15px;
}
.signuppage .col-sm-6.left-t {
    padding-left: 15px;
}
.signuppage .signbtn {
    margin: 20px 0px 20px 0px;
    width: 46%;
}
.right-slidercoursl .carousel-inner {
    padding: 0px 20px;
}
.signuppage .bg-img h1 {
    font-size: 30px;
}
.signuppage .bg-img h1 .text-orange {
    line-height: 45px;
}
.serach-result-main .main-content-result.col-sm-12.noppading .col-sm-3.noppading {
    width: 33%;
    float: left;
}
.serach-result-main .main-content-result.col-sm-12.noppading .col-sm-9 {
    width: 67%;
}

.serach-result-main .main-content-result.col-sm-12.noppading .col-sm-9 .box-today-big .col-sm-7 {
    width: 100%;
}
.serach-result-main .main-content-result.col-sm-12.noppading .col-sm-9 .box-today-big .col-sm-2 {
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
}
.serach-result-main .main-content-result.col-sm-12.noppading .col-sm-9 .box-today-big .col-sm-3 {
    width: 50%;
    float: left;
}
.booking-tab {
    margin: 0px 15px;
}
.current-book .head-not.text-green {
    font-size: 14px;
}
.approvl-seats p .large-text {
    font-size: 20px;
}
.button-add-cross a {
    display: block;
    padding: 0px !important;
}
.button-add-cross .man-auth {
    padding: 0px;
    margin: 0px;
}

}
@media(min-width: 993px) and (max-width: 1280px){
 .navigation .navbar-brand {
    height: auto;
    padding: 15px 0px 0px 20px;
}

.navigation .navbar-brand .img-responsive {
    width: auto;
    height: 30px;
}
.navigation .container-fluid { 
    padding: 0px;
}
.navigation #myNavbar ul.navbar-nav.navbar-right {
    padding-top: 15px;
}
.dropdown.sig {
    padding-right: 5px;
}
.navigation .navbar.navbar-inverse {
    min-height: 63px;
}
.baner-overlay {
    top: 65px;
}
.container {
    width: 970px;
}
.banner-home .shared-trip {
    margin-top: 15%;
}
.shared-trip {
    width: 100%;
}
.banner-home {
    height: 43vh;
    background-position: right;
}
.baner-overlay {
    height: 43vh;
}
.five-boat-box {
    margin-top: 7%;
    text-align: center;
    width: 76%;
}
.five-boat-box ul li {
    float: none;
    margin: 9px 9px;
    display: inline-block;
}
.boatimag img {
    width: auto;
    height: 160px;
}
.many-boast-section {
    padding-bottom: 60px;
}
.box-thousand .content-in .left-con {
    height: 60px;
}
.box-thousand .work-how {
    padding: 0px 0px;
}
.boatpolling .img-responsive { 
    width: auto;
    height: 140px;
}
.boatpollingdes {
    padding: 10px 10px;
}
.boatpollingdes h4 {
    font-size: 16px;
}
.tab-navigation .navbar.navbar-inverse a {
    padding: 20px 37px;
}
.verification-blocks .img-blocks-s {
    width: 10%;
}
.verification-blocks .right-text-tt {
    width: 90%;
}
.logo-mod .img-responsive {
    height: 45px;
}
.signuppage .content-right h1 {
    margin-top: 12%;
}
.signuppage .login-popup .content-right .signbtn-blue {
    margin: 30px 0px 30px 0px;
    width: 70%;
}
.signuppage .signbtn {
    margin: 30px 0px 30px 0px;
    width: 45%;
}
.right-slidercoursl .carousel-inner {
    padding: 0px 60px;
}
.signuppage .bg-img h1 {
    font-size: 40px;
}
.signuppage .bg-img h1 .text-orange {
    line-height: 60px;
}

}
@media (min-width: 1281px) and (max-width: 1700px){
.five-boat-box {
    width: 75%;
    text-align: center;
}
.five-boat-box ul li {
    float: none;
    margin: 9px 9px;
    display: inline-block;
}

}
@media (min-width: 1281px){
 .container {
    width: 1170px;
} 
 
}
/*===============end responsive======*/