<?php
$action = $this->request->params['action'];
$controller = $this->request->params['controller'];
//echo "<pre>";print_r($controller);die;
 ?>
<section class="serach-page tabs-dash">
	<div class="container">
		<div class="tab-navigation">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mytabnav">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			    </div>
			    <div class="collapse navbar-collapse" id="mytabnav">
			      <ul class="nav navbar-nav">
			       
					<li <?php if($action == 'dashboard'){ ?> class="active" <?php } ?> ><?php echo $this->Html->link('Dashboard', array('controller'=>'profile', 'action'=>'dashboard'));?>
					</li>
					<li <?php if($action == 'fdashboardrides'){ ?> class="active" <?php } ?>  ><?php echo $this->Html->link('Rides offered', array('controller'=>'fpages', 'action'=>'fdashboardrides'));?></li>
					<li <?php if($action == 'fdashboardbook'){ ?> class="active" <?php } ?>  ><?php echo $this->Html->link('Bookings', array('controller'=>'fpages', 'action'=>'fdashboardbook'));?></li>
					<li <?php if($action == 'fdashboardmessage'||$action == 'fdashboardmsgdet'){ ?> class="active" <?php } ?>  ><?php echo $this->Html->link('Messages', array('controller'=>'fpages', 'action'=>'fdashboardmessage'));?><!-- <span class="cunt-msg">10</span> --></li>
					<li <?php if($action == 'fdashboardridealt'){ ?> class="active" <?php } ?>  ><?php echo $this->Html->link('Ride alerts', array('controller'=>'fpages', 'action'=>'fdashboardridealt'));?></li>

					<li <?php if($action == 'index' || $action == 'add' ||$action == 'profpic' || $action == 'verification'  && $controller=='Profile' ){ ?> class="active" <?php } ?>  ><?php echo $this->Html->link('Profile', array('controller'=>'profile', 'action'=>'index'));?></li>
 			      </ul>
			    </div>
			  </div>
			</nav>
		</div>
	</div>
</section>
