<title>
	<?php if(@$title){ echo $title; }else{ echo "Fitness Application"; } ?>
</title>
<link rel="shortcut icon" type="image/png" href="<?php echo HTTP_ROOT.'webroot/assets/favicon.png' ;?>"/>
<?php
    echo $this->Html->charset();
  
?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->request->webroot; ?>assets/vendors/custom/fullcalendar/fullcalendar.bundle.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->request->webroot; ?>assets/vendors/base/vendors.bundle.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->request->webroot; ?>assets/demo/default/base/style.bundle.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>