<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spotter</title>
    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
      /* Client-specific Styles */
      body{font-family: 'Open Sans', sans-serif;}
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      table[class=order_tab] {border-top:1px solid #ccc; border-left:1px solid #ccc; color:#333}
      table[class=order_tab] tr th {border-bottom:1px solid #ccc; border-right:1px solid #ccc;  font-size:13px;}
      table[class=order_tab] tr td {border-bottom:1px solid #ccc; border-right:1px solid #ccc; font-size:12px;}
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #33b9ff; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #33b9ff !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important; }
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      table[class=mainsmall1] { float:left!important;}
      table[class=mainsmall2] { float:right!important;}
      table[class=banner-gap] { display:none!important;}
      img[class="bannerbig"] {width: 440px!important;height:371px!important;}
      img[class="spacinglines"]{width: 420px!important;}
      }
      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #33b9ff; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #33b9ff !important; 
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;  padding:0 10px !important; border:none !important; }
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      table[class=mainsmall1] {float:left!important;width: 120px!important;height:90px!important;}
      table[class=mainsmall2] {float:right!important;width: 120px!important;height:90px!important;}
      img[class=mainsmall1] {width: 120px!important;height:90px!important;}
      img[class=mainsmall2] {width: 120px!important;height:90px!important;}
      table[class=banner-gap] {display:none!important;}
      img[class="bannerbig"] {width: 280px!important;height:236px!important;}
      img[class="spacinglines"]{width: 260px!important;}
      table[class="order_tab"] tr .prod_code{display:none !important}
      }
    </style>
  </head>
  <body style="font-family: Helvetica, arial, sans-serif;">
    <table width="100%" bgcolor="#eaeced" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
              <tbody>
                <tr>
                  <td width="100%"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table> 
    <!-- Start of header -->
    <table width="100%" bgcolor="#eaeced" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
              <tbody>
                <tr>
                  <td width="100%">
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" bgcolor="#fff">
                      <tbody>
                        <!-- Spacing -->
                        <tr>
                          <td width="100%" height="10"></td>
                        </tr>
                        <!-- Spacing -->
                        <tr>
                          <td style="background:#fff" align="right">
                           <!--  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="devicewidth" >
                              <tbody>
                                <tr>
                                  <td height="20px"></td>
                                </tr>
                                <tr>
                                  <td width="100%" align="center" >
                                    <div class="imgpop" > <a target="_blank" href="https://cremeway.in/"> <img src="https://cremeway.in/webroot/img/logo-cremeway.png" alt="" border="0" width="161" height="" style="display:block; border:none; outline:none; text-decoration:none;" /></a></div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="20px"></td>
                                </tr>
                              </tbody>
                            </table> -->
                            <!-- logo --><!-- end of logo -->
                          </td>
                        </tr>
                        <!-- Spacing -->
                        <tr>
                          <td width="100%" height="10"></td>
                        </tr>
                        <!-- Spacing -->
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" bgcolor="#eaeced" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
      <tbody>
        <tr>
          <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
              <tbody>
                <tr>
                  <td width="100%" style="background:#fff;">
                    <table width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
                      <tbody>
                        <!-- Spacing -->
                        <tr>
                          <td style="font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight:lighter; color: #333; text-align:left; line-height: 24px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <!-- <td><img style="width: 100px;" src="https://cremeway.in/webroot/img/logo-cremeway.png"></td> -->
                          <td align="center"><img style="width: 65px;" src="<?php echo HTTP_ROOT ?>images/ic_login.png"></td>
                        </tr>
                        <tr>
                          <td style="font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight:lighter; color: #333; text-align:left; line-height: 24px;">
                            Hello <strong><?php echo @$user_name; ?></strong>, </span>
                          </td>
                        </tr>
                        <!-- End of Title -->
                        <!-- spacing -->
                        <tr>
                          <td style="font-family: Helvetica, arial, sans-serif; font-size: 36px; color: #fff; text-align:center; line-height: 24px;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2" style="font-family: 'Open Sans', sans-serif; font-size: 14px; color: #666; line-height: 24px;">
                           Click on blow URL for verification..
                           <a href="<?php echo @$url; ?>"> Click Here </a> 
                          </td>
                        </tr>
                         <tr>
                          <td style="font-family: Helvetica, arial, sans-serif; font-size: 36px; color: #fff; text-align:center; line-height: 24px;">&nbsp;</td>
                        </tr>
                        <!-- End of spacing -->
                        <!-- Spacing -->
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
        <!-- End of Header -->
    <table width="100%" bgcolor="#eaeced" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
      <tbody>
        <tr>
          <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
              <tbody>
                <tr>
                  <td width="100%">
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" >
                      <tbody>
                        <!-- Spacing -->
                        <!-- Spacing -->
                        <tr>
                          <td width="100%" height="20" bgcolor="#333" style="font-size:12px; font-family: 'Open Sans', sans-serif; font-weight:lighter; color:#b0b0b0; padding:4px 16px;font-weight: 600;text-align: center;border-bottom: 20px solid #fff;">Team Spotter</td>
                        </tr>
                         <tr>
                          <td style="font-family: Helvetica, arial, sans-serif; font-size: 36px; color: #fff; text-align:center; line-height: 24px;">&nbsp;</td>
                        </tr>
                        <!-- Spacing -->
                        <!-- Spacing -->
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- End of Header -->
  </body>
</html>