<?php echo $this->element('fdashboardmenu'); ?>

<section class="serach-result-main dashboard-main ride-alert-section">
	<div class="container noppading">
		<div class="main-content-result col-sm-12 noppading">
			<div class="booking-tab">

				  <div class="tab-content">
				    <div class="ride-alert">
				     	<p class="top-tab-head">You'll receive an email when new rides matching your alert are offered</p>
				     	<div class="current-book">

							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>

							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
						
						<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
							<a href="message-detail.html">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="img-cont-roung-message">
											<h4 class="head-not text-green">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</h4>
											<p><span class="text-left"><i class="fa fa-calendar" aria-hidden="true"></i> Saturday,  30 Sep 2017</span> <span class="text-leftty"><i class="fa fa-clock-o" aria-hidden="true"></i>
 12:45</span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left eye-align-icons">
										 <p class="text-blue"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>
										 See available rides</a>
										 </p>
										  <p class="text-red"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
										 </p>
									</div>
								</div>
							</div>
							</a>
				     	</div>
				    </div>
				  </div>
			</div>
		</div>
	</div>
</section>
