<?php echo $this->element('fdashboardmenu'); ?>

<section class="serach-result-main dashboard-main">
	<div class="container noppading">
		<div class="main-content-result col-sm-12 noppading">
			<div class="message-detail-box">
				<p class="top-tab-head"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to inbox</a></p>
        <div class="conversation-ridebox clearfix">
          <div class="col-sm-8 noppading brdr">
            <div class="conv-top">
                <h2>Conversation with Marco</h2>
                <p class="head-not"><span>About ride</span> St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>Ording Beach</span> on 30 Sep 2017 12:45</p>
            </div>
            <div class="chatting-test">
            <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Hello Silvia, How are you?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Hi! I’m not so bad! how are you?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
            <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Greate! Was wondering if you want to meet up for dinner later?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Sure! i think i’m free this evening. Whare do you want to meet?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
                          <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Greate! Was wondering if you want to meet up for dinner later?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Sure! i think i’m free this evening. Whare do you want to meet?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
                          <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Greate! Was wondering if you want to meet up for dinner later?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Sure! i think i’m free this evening. Whare do you want to meet?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
                          <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Greate! Was wondering if you want to meet up for dinner later?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Sure! i think i’m free this evening. Whare do you want to meet?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
                          <div class="conversection-block clearfix">
              <div class="reseve">
                <div class="img-roung-conver">
                  <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                  <p>33 mints ago</p>
                </div>
                  <div class="message-hcat-box">
                    <div class="block-roung-chat">Greate! Was wondering if you want to meet up for dinner later?</div>
                    <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg1.png"></div>
                  </div>
              </div>
            
                <div class="send">
                    <div class="message-hcat-box">
                      <div class="block-roung-chat">Sure! i think i’m free this evening. Whare do you want to meet?</div>
                      <div class="side-arrow"><img src="<?php echo $this->request->webroot; ?>images/arrow-chatimg2.png"></div>
                    </div>
                  <div class="img-roung-conver">
                    <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                    <p>33 mints ago</p>
                  </div>                   
                </div>
              </div>
              </div>
              <div class="send-message-form clearfix">
                  <form>
                    <input type="text" placeholder="Write a message to Marco here...">
                    <buton class="ssend">send</buton>
                  </form>
                </div>
          </div>
           <div class="col-sm-4 noppading">
              <div class="conv-top">
                <h1 class="head-summry">Ride summary </h1>
              </div>
              <div class="left-borderset">
              <div class="isde-caht-boc-s">
                <div class="para-side-chat-b">
                  <p class="cba"><img src="<?php echo $this->request->webroot; ?>images/add-icon4.png">Tuesday, 26 September 2017 at 08:15</p>
                  <div class="sameset ">
                        <ul>
                          <li class="icon-red clearfix">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                              <p>St. Peter-Ording, Rendsburg, Germany</p>
                            </span>
                          </li>
                          <hr>
                          <li class="icon-green clearfix">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                              <p>Ording Beach, Germany</p>
                            </span>
                          </li>
                      </ul>  
                  </div>
                    <p><img src="<?php echo $this->request->webroot; ?>images/boat-tripimg.png">Type of Boat- <span class="text-red">Boat</span></p>
                    <p><img src="<?php echo $this->request->webroot; ?>images/boat-tripimg2.png">Type of Trip- <span class="text-green">Excursion</span></p>
                    <hr>
                    <div class="auther-des-sign">
                      <img src="<?php echo $this->request->webroot; ?>images/owner-img.png" class="img-responsive">
                        <div class="righttext-des">
                          <h3>Marco</h3>
                          <p>22 years old, Member since November 2016 </p>
                          <div class="descri-star-face">
                            <p><i class="fa fa-star" aria-hidden="true"></i><strong>4.9/5</strong>- 8 rating</p>
                          </div>
                          <ul class="viled-check">
                              <li><i class="fa fa-check" aria-hidden="true"></i> Phone verified</li>
                              <li><i class="fa fa-check" aria-hidden="true"></i> Email Address verified</li>
                            </ul>
                        </div>
                        <p class="contact-num"><i class="fa fa-phone" aria-hidden="true"></i> Contact No. <span class="text-red">+1 959-335-0165</span></p>
                        <hr>
                        <div class="text-center">
                          <p class="flg-cat-cate"><i class="fa fa-flag" aria-hidden="true"></i> Report this member</p>
                        </div>
                    </div>
                </div>
              </div>
              </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>
