<?php echo $this->element('fdashboardmenu'); ?>

<section class="serach-result-main dashboard-main">
	<div class="container noppading">
		<div class="main-content-result col-sm-12 noppading">
			<div class="booking-tab">
				  <ul class="nav nav-tabs">
				    <li class="active"><a data-toggle="tab" href="#inbox-tab">Inbox</a></li>
				    <li><a data-toggle="tab" href="#archive-tab">Archive</a></li>
				  </ul>

				  <div class="tab-content">
				    <div id="inbox-tab" class="tab-pane fade in active">
				     	<p class="top-tab-head">See your private conversations linked to existing ride offers here. They'll be archived 20 days after the last message is sent.</p>
				     	<div class="current-book">
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div></a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<a href="<?php echo $this->request->webroot; ?>fpages/fdashboardmsgdet">
							<div class="messages-archi clearfix">
								<div class="col-sm-9">
									<div class="cont-img-cont">
										<div class="roungimg-ress">
											<img src="<?php echo $this->request->webroot; ?>images/owner-img.png" clas="img-responsive">
										</div>
										<div class="img-cont-roung-message">
											<h4>macro</h4>
											<p>Its free dont worry if there is something wrong i will pay promise.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="pull-left">
										<p class="head-not">St. Peter-Ording<i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ording Beach</p>
										<p>33 minutes ago</p>
									</div>
								</div>
							</div>
							</a>
							<div class="pagination-bottm">
						<p class="pull-left">1 to 10 of 23 results</p>
						<p class="pull-right"><sapn>1</sapn> <sapn>2</sapn> <sapn>3</sapn> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
					</div>
				     	</div>
				    </div>
				    <div id="archive-tab" class="tab-pane fade">
				      <h3>Menu 1</h3>
				      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				    </div>
				  </div>
			</div>
		</div>
	</div>
</section>
