<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script> -->


 <div class="users form large-9 medium-8 columns content">

<div class="m-portlet m-portlet--tab">
<div class="m-portlet__head">
    <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="m-portlet__head-text">
                <?= __('Uploading CSV') ?>
            </h3>
        </div>
        <div class="m-portlet__head-title" style="float: right">
                <h3 class="m-portlet__head-text">
                    <a href="<?php echo HTTP_ROOT.'admin/gyms'; ?>" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                    Back
                    </a>
                </h3>
            </div>
    </div>
</div>
    <div class="m-portlet__body">
       <center><img src="<?php echo HTTP_ROOT;?>images.jpeg">
       <br> CSV Import Completed Successfully.
       </center>
    </div>

</div>
</div>
